<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 css  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <style>
        .none {
            display: none;
        }
    </style>
</head>
<body class="container">
    <h2 class="text-center my-5">전체 리스트<span></span></h2>


    <th:block th:if="${guestbookList eq null}">
        <h3 class="text-center my-5">조회 결과가 없습니다 잔넨</h3>
    </th:block>

    <th:block th:if="${errMsg ne null}">
        <input type="hidden" th:value="|에러 발생 : ${errMsg}|" id="error"/>
    </th:block>

    <th:block th:unless="${guestbookList eq null}">
        <table class="table table-hover" style="width: 1200px; margin: 5px auto;">
            <colgroup>
                <col style="width: 20%;"><col style="width: 40%;"><col style="width: 20%;"><col style="width:20%;">
            </colgroup>
            <tr class="table-dark">
                <th>Board No.</th>
                <th>작성자</th>
                <th>작성일자</th>
                <th>이동</th>
            </tr>

            <th:block th:each="guestbook : ${guestbookList}">
                <tr style="cursor: pointer" name="bookRow">
                    <td th:text="${guestbook.boardNum}"></td>
                    <td th:text="${guestbook.userName}"></td>
                    <!--  포매팅 그냥 타임리프 활용하자!  -->
                    <td th:text="${#temporals.format(guestbook.inputDate, 'yyyy.MM.dd HH:mm')}"></td>
                    <td><button type="button" class="btn btn-secondary btn-sm col-3"><a class="link-light link-underline-opacity-0" th:href="@{/read/{boardNum}(boardNum=${guestbook.boardNum})}">이동</a></button></td>
                </tr>
                <tr class="inner-text none">
                    <!-- 입력값 그대로 보여주려면 textArea 혹은 pre 태그 활용! -->
                    <td colspan="3">세부 내용 : <pre th:text="${guestbook.message}"></pre></td>
                    <td><button type="button" class="btn btn-danger btn-sm col-3"
                               th:id-data="${guestbook.boardNum}" th:pw-data="${guestbook.password}" name="deleteBtn">삭제</button></td>
                </tr>
            </th:block>
        </table>
    </th:block>

    <button class="btn btn-primary col-3 my-2" style="transform: translate(460px, 0)"><a class="link-light link-underline-opacity-0" th:href="@{/}">홈으로 이동</a></button>
    <!-- 부트스트랩 js  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>

        function showMsg(msg) {
            alert(msg);
        }

        document.addEventListener('DOMContentLoaded', () => {

            const errTag = document.getElementById('error');
            if (errTag != null) {
                // 함수 인자전달 필요하면 arrow function
                setTimeout(() => {
                    showMsg(errTag.value);
                }, 100);
            }
        })

        document.addEventListener('DOMContentLoaded', () => {
            // name 값 통해서 가져오는 방법 기억!  (속성 쿼리 셀렉터)
            const tagList = document.querySelectorAll('[name="bookRow"]');
            const delBtnList = document.querySelectorAll('[name="deleteBtn"]')
            tagList.forEach((tag) => {

                tag.addEventListener('click', () => {
                    let curTag = tag.nextElementSibling;
                    curTag.classList.toggle('none');
                })

            })

            delBtnList.forEach((btn) => {
                btn.addEventListener('click', () => {
                    const boardNum = btn.getAttribute('id-data');
                    const password = btn.getAttribute('pw-data');

                    const typeText = prompt("삭제를 위한 비밀번호를 입력해 주세요");

                    if (typeText.trim() != password) {
                        alert("비밀번호가 일치하지 않습니다.")
                    } else {
                        window.location.href = `/delete/${boardNum}?password=${password}`;
                    }

                })
            })
        })

    </script>
</body>
</html>